*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: rgb(61, 61, 77);
overflow-x: hidden;
}
.bgcolor{
background-color: rgb(37, 37, 41);
width: 1700px;
height: 1110px;
margin: -44px 0px 0px 0px;
}
.container {
    display: grid;
    padding: 0px 61px;
}

.logo {
    padding: 16px 0px 0px 0px;
    width: 40px;
    height: 40px;
}

.name {
    color: white;
    display: inline-block;
    font-size: -webkit-xxx-large;
    font-family: cursive;
 
}
nav {
    font-size: x-large;
}

nav ul {
    display: inline-block;
    margin: 0px 210px 0px 125px;
    
}

nav ul li {
    list-style: none;
    display: flex;
    display: inline-block;
    margin: 0px 0px 0px 42px;
    
}

nav ul li a {
    text-decoration: none;
    color: rgb(153, 149, 149);
    font-family: cursive;
}
nav ul li a:hover{
    text-decoration: none;
    color: white;
    font-family: system-ui;
}

.logoes {
    width: 34px;
    height: 34px;
    margin: 0px 0px -5px 42px;
}
.container2 {
    display: grid;
  
    padding: 0px 61px;
}

.item1 {
    display: inline-block;
    margin: 150px 0px 0px 0px;
}


.h1 {
    font-size: xx-large;
    font-family: cursive;
    color: white;
}

.h2 {
    font-size: xxx-large;
    font-family: system-ui;
    letter-spacing: 4px;
    color: white;
}

.underline {
    background: #ffbc00;
    width: 195px;
    height: 7px;
    border-radius: 7px;
}

.paragraph {
    font-family: system-ui;
    font-size: large;
    color: white;
}
.item2 {
    margin: -370px 0px 0px 433px;
}

.imagbackground{

    width: 500px;
    height: 500px;
    background-color: rgb(27, 27, 46);
    border-radius: 250px;

}
.manimg{
    margin: -489px 0px -14px 53px;
    width: 354px;
}
.item3 {
    margin: -396px 0px 0px 885px;
}

.h4 {
    font-size: larger;
    color: rgb(210, 202, 202);
    font-family: system-ui;
}

.para2 {
    font-family: system-ui;
    font-size: large;
    color: white;
}

.para3 {
    font-family: system-ui;
    font-size: large;
    font-weight: 6 00;
    color: #ffbc00;
}

.arrow {
    margin: -7px 8px;
}
.logoes2{
    width: 34px;
    height: 34px;
    margin: 4px 0px 0px 5px;
}
.div0{
    width: 44px;
height: 44px;
    margin: 0px 20px 0px 0px;
    background: rgb(144, 135, 135);;
border-radius:21px;
display: inline-block;
}
.div0:hover{
    width: 44px;
height: 44px;
    margin: 0px 20px 0px 0px;
    border: solid rgb(144, 135, 135);
border-radius:25px;
display: inline-block;
}
.containe3{
width: 1400px;
height: 85px;
background-color: rgb(106, 106, 122);
margin: 0px 0px;
display: inline-block;

}
.logoes3{
width: 187px;
height: 47px;
background-color: rgb(72, 72, 83);
display: inline-grid;
margin: 20px 80px;
}
.img{

margin: 7px 0px 0px 42px;
height: 35px;

}
.meta{
position: relative;
bottom: 30px;
left: 80px;
font-weight: bolder;
font-family: sans-serif;

}
.img1{
height: 31px;
margin: 10px 48px;
}
.img2{
height: 35px;
margin: 5px 118px;
}
.linked{
position: relative;
bottom: 36px;
left: 40px;
font-weight: bold;
font-family: sans-serif;
}
.img3 {
height: 35px;
margin: 7px 47px;
}
.slack{
font-size: x-large;
position: relative;
bottom: 37px;
left: 84px;
font-family: sans-serif;
}
.container4{
display: grid;
grid-template-columns: 1fr 1fr;
padding: 200px 0px 0px 61px;


}
.new{

}
.h5{
    color: white;
    font-family: system-ui;
}
.para4{
    color: white;
    font-family: system-ui;
}
.h6{
    color: #ffbc00;
    font-family: system-ui;
    font-weight: 600;
    padding: 0px 0px 0px 61px;
}
.para5{
    color: white;
    font-family: system-ui;
    padding: 0px 0px 0px 61px;
}
.new1{
   
  
       position: relative;
   top: -327px;
   left: 708px;
   margin: -25px 0px 0px 0px ;
   }
   .pick1{
       width: 130px;
   height: 85px;
   color: white;
       font-family: system-ui;
   }
   .para6{
       margin: -63px 0px 0px 139px;
       color: white;
       font-family: system-ui;
   }
   .span{
       font-size: larger;
   }
   .arow1{
       position: relative;
   top: -30px;
   left: 600px;
   }
   .hr{
       background-color: #ffbc00;
       margin: 5px 0px 16px 0px;
       width: 700px;
   }
   .pick2{
       width: 130px;
   height: 85px;
   color: white;
       font-family: system-ui;
   }
   .para7{
       color: white;
       font-family: system-ui;
       margin: -63px 0px 0px 139px;    
   }
   .arow2{
       position: relative;
   top: -30px;
   left: 600px;
   }
   .pick3{
       width: 130px;
   height: 85px;
   color: white;
       font-family: system-ui;
   }
   .para8{
       color: white;
       font-family: system-ui;
       margin: -63px 0px 0px 139px;
   }
   .arow3{
       position: relative;
   top: -30px;
   left: 600px;
   }
   .container5{
    margin: -450px 61px 0px 61px;
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: rgb(76, 76, 96);
width: 430px;
height: 370px;
}


.image{
   width: 70px;
   padding: 61px 0px 0px 58px;
}
.h7{
    font-size: x-large;
font-family: system-ui;
padding: 20px 0px 0px 58px;
color: white;
    font-family: system-ui;
}
.p1{
    font-family: system-ui;
    font-size: larger;
    padding: 0px 0px 0px 58px;
    color: white;
    font-family: system-ui;
}
.box1{
    background-color: rgb(76, 76, 96);
    width: 430px;
height: 370px;
}
.image1{
   width: 70px;
   padding: 61px 0px 0px 58px;
}
.h8{
    font-size: x-large;
    font-family: system-ui;
    padding: 20px 0px 0px 58px;
    color: white;
    font-family: system-ui;
}
.p2{
    font-family: system-ui;
    font-size: larger;
    padding: 0px 0px 0px 58px;
    color: white;
     font-family: system-ui;
}
.box2{
    background-color: rgb(76, 76, 96);
    width: 430px;
height: 370px;
}
.image2{
   width: 70px;
   padding: 61px 0px 0px 58px;
}
.h9{
    font-size: x-large;
font-family: system-ui;
padding: 20px 0px 0px 58px;
color: white;
    font-family: system-ui;
}
.p3{
    font-family: system-ui;
    font-size: larger;
    padding: 0px 0px 0px 58px;
    color: white;
    font-family: system-ui;
}
.container6{

width: 1900px;
height: 50px;
margin: -50px 0px 0px 0px;
background-color: rgb(185, 185, 190);
display: inline-block;
}